---
import { Image } from 'astro:assets';
import mapImage from '../assets/images/map.png';
---

<section class="flex flex-col gap-14 items-center justify-center px-48 py-32 bg-brand-bg">

  <div class="flex flex-col gap-2 items-center w-full">
    <h2 class="font-oi font-normal text-[64px] leading-[1.3] tracking-[1.28px] text-brand-heading text-center m-0 w-full">
      Jak se k nám<br />dostanete?
    </h2>
    <p class="font-hepta font-medium text-[32px] text-brand-subheading text-center m-0 leading-[normal] w-full">
      Až do osady se autem nedostanete, takže nejlíp stejně uděláte, když nebudete mastňáci,
      pojedete vlakem do Mrače, je to krásná trasa, a odtamtud vyrazíte do údolí pěšky.
      Z nádraží v Mrači jste<br />v osadě za necelou hodinku vycházkovým tempem. Pokud se vám
      ale chodit nechce, dá se i dojet autem přes Poříčí nad Sázavou a auto nechat tam, kde
      končí cesta. Pak už je to do osady pěšky jen cca 400 metrů.
    </p>
  </div>

  <div class="bg-white h-[480px] overflow-hidden rounded-[64px] w-full max-w-">
    <Image src={mapImage} alt="Mapa přístupu k osadě" class="w-full h-full object-cover" />
  </div>

</section>
