---
import HeroSection       from './HeroSection.astro';
import EventsSection     from './EventsSection.astro';
import GallerySection    from './GallerySection.astro';
import HistorySection    from './HistorySection.astro';
import ContactsSection   from './ContactsSection.astro';
import DirectionsSection from './DirectionsSection.astro';
import FooterSection     from './FooterSection.astro';
---

<div class="max-w-[1920px] mx-auto bg-brand-bg flex flex-col">
  <HeroSection />
  <EventsSection />
  <GallerySection />
  <HistorySection />
  <ContactsSection />
  <DirectionsSection />
  <FooterSection />
</div>
